/*
* 									{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 800px; margin: 25px auto; } 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }
*/

a									{ text-decoration: none; }
ul									{ list-style: none; }

/* LEVEL ONE */
ul.dropdown                         { position: relative; }
/*ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #ccc; }*/
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #053B64; }

ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 8px 8px; border-right: 1px solid white;
	 								  color: white; 
									  border-left: 1px solid white;}
									  
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #a9d974; color: black; position: relative; }
ul.dropdown li.hover a              { color: #053B64; }

/* LEVEL TWO */
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #D6ECF6; color: #000; 
									  border-bottom: 1px solid white; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* LEVEL THREE */

ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }