#slider							{ background: white url("../img/servicios/cirugia/bg-slider.png"); height: 227px; overflow: hidden;
								  position: relative; margin: 0px 0; }
								  
                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */								  
#mover							{ width: 2880px; position: relative; }

.slide							{ padding: 40px 30px; width: 900px; float: left; position: relative; }
.slide h1						{ font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 30px; letter-spacing: -1px;
								  color: #053B64; }
.slide p						{ color: #053B64; font-size: 12px; line-height: 22px; width: 500px;
								  text-indent:30px; text-align: justify; }
/*.slide img						{ position: absolute; top: 20px; left: 550px; }*/
.slide img						{ position: absolute; top: 35px; left: 570px; }
#slider-stopper					{ position: absolute; top: 1px; right: 20px; background: #053B64; color: white;
								  padding: 3px 8px; font-size: 10px; text-transform: uppercase; z-index: 1000; }