* { padding: 0; margin: 0; }

body {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 13px;
}

#wrapper { 
	 margin: 0 auto;
	 width: 922px;
}

#header {
	 width: 900px;
	 color: #333;
	 padding: 10px;
	 border: 1px solid #ccc;
	 height: 100px;
	 margin: 10px 0px 0px 0px;	 
}

#navigation {
	 width: 900px;
	 color: #333;
	 padding: 10px;
	 border: 1px solid #ccc;
	 margin: 0px 0px 0px 0px;
}

#content { 
	 width: 900px;
	 color: #333;
	 border: 1px solid #ccc;
	 margin: 0px 0px 0px 0px;
	 padding: 10px;
	 height: 350px;
}

#footer { 
	 width: 900px;
	 color: #333;
	 border: 1px solid #ccc;	 
	 margin: 0px 0px 10px 0px;
	 padding: 10px;
}

#form_contact {
	margin-left: auto;
	margin-right: auto; 		
	width: 400px;
	height: 250px;
	border: 1px solid #ccc;
}
