<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site.master.vb" Inherits="Aton.Site" %>
<%@ Register Src="menu.ascx" TagName="menu" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>2 Column - fw-16-2-col</title>
        <%--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />--%>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="stylesheet" type="text/css" href="styles.css" />
        <link href="styles/kendo.common.min.css" rel="Stylesheet" type="text/css" />
        <link href="styles/kendo.blueopal.min.css" rel="Stylesheet" type="text/css" />
        <link href="Styles/themes/redmond/jquery.ui.all.css" rel="Stylesheet" type="text/css" />

        <script src="scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="scripts/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
        <script src="scripts/kendo.all.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(
                                function () {
                                    $("#panelbar").kendoPanelBar().css({ width: 150 });
                                }
                             );
        </script>
    </head>
    <body>


        <form id="formaPrincipal" runat="server">
            <div id="wrapper">
              <div id="header">
                <%--<img alt="Cerrar Sessión" style="float:right;" src="img/exit.png" />--%>
                  <asp:ImageButton ID="btnSesion" runat="server" style="float:right;" 
                      ImageUrl="img/logout.png" Height="45px" ToolTip="Cerrar sesión" Width="45px" />
              </div>
      
              <div id="leftcolumn" <%--style="width: 190px"--%>>  
                  <center>
                    <br />        
                    <uc1:menu ID="Menu1" runat="server" />
                  </center>
              </div>
      
              <div id="rightcolumn" <%--style="width: 800px"--%>> 
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
              </div>

              <div id="footer">
                <center>
                    <br />
                    <font color="white"><b>Hospital con especialidades Juan María de Salvatierra</b></font>
                </center>
              </div> 
            </div>
        </form>
    </body>
</html>