* { padding: 0; margin: 0; }
body {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 13px;
}
#wrapper {	  
	 margin: 0 auto;
	 width: 1000px;
}
#header 
{
	 background:url("../img/personal4.png") no-repeat scroll 0 0 transparent;
	 background-color: #5B755C;
	 color: #333;
	 width: 1000px;
	 float: left;
	 border: 0px solid #ccc;
	 height: 58px;
}
#navigation 
{
	 background: url("../img/barra.png");
	 float: left;
	 width: 800px;
	 color: #333;
	 border: 0px solid #ccc;
	 height: 34px;
	 background-color:#F3F2ED; 
}
#leftcolumn  
{
	 color: #333;
	 border: 1px solid #ccc;
	 background:#F6F0E0;
	 background-color:#BBD8E1;
	 padding: 0px;	 
	 height: 450px;
	 width: 196px;
	 float: left;
}
#rightcolumn  
{
	 float: right;
	 color: #333;
	 border: 1px solid #ccc;
	 background:#CCC8B3;
	 height: 450px;
	 width: 800px;
	 display: inline;
	 background-color:White;
}
#footer 
{
	 width: 1000px;
	 height: 50px;
	 clear: both;
	 color: #1C5E55;
	 border: 0px solid #ccc;
	 background-color:#1C5E55;
}
div.scroll {
	 float: right;
	 color: #333;
	 border: 1px solid #ccc;
	 background:White;
	 height: 415px;
	 width: 800px;
	 display: inline;
	 overflow : auto; 
}